In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
pd.__version__

'2.0.1'

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [8]:
df = next(df_iter)

In [9]:
header = df.head(n=0)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 9.34 s
Wall time: 15.2 s

1000

In [12]:
from time import time

In [13]:
for df in df_iter:
    t_start = time()
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'insert another chunk... took {t_end-t_start} seconds')

insert another engine... took 17.66066598892212 seconds
insert another engine... took 17.119705200195312 seconds
insert another engine... took 17.52964687347412 seconds
insert another engine... took 16.937077522277832 seconds
insert another engine... took 17.29985809326172 seconds
insert another engine... took 17.830908060073853 seconds

C:\Users\Aldo Yew Siswanto\AppData\Local\Temp\ipykernel_19460\2834071704.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

insert another engine... took 15.997173547744751 seconds
insert another engine... took 16.00880765914917 seconds
insert another engine... took 16.357025384902954 seconds
insert another engine... took 16.887585639953613 seconds
insert another engine... took 16.370325326919556 seconds

C:\Users\Aldo Yew Siswanto\AppData\Local\Temp\ipykernel_19460\2834071704.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

insert another engine... took 15.522012710571289 seconds
insert another engine... took 10.373044490814209 seconds